matchms  # Replace <specific_version> with the correct version or leave it out to get the latest version

--extra-index-url https://test.pypi.org/simple/
MSCI  # Replace <specific_version> with the correct version or leave it out to get the latest version
